/data_wrangling_json/.ipynb_checkpoints
/data_wrangling_json/.DS_Store
/data_wrangling_json/data/
/data_wrangling_xml/.ipynb_checkpoints
/data_wrangling_xml/.DS_Store
/data_wrangling_xml/data/
/statistics project 1/.DS_Store
/statistics project 1/.ipynb_checkpoints/
/statistics project 1/data/
/statistics project 2/.DS_Store
/statistics project 2/.ipynb_checkpoints/
/statistics project 2/data/
/statistics project 3/.DS_Store
/statistics project 3/.ipynb_checkpoints/
/statistics project 3/data/
/dataStory/*.txt
/dataStory/.ipynb_checkpoints
